body, html{
	width: 100%;
	height: 100%;
}
.main{
	width: 60%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.main .button{
	position: relative;
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #c3c3c3;
}
.main .button div[type="button"]{
	width: 18%;
	float: left;
	margin: 1%;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}
.main .button #clear{
	background-color: #364659;
	color: #fff;
}
.main .button #userAuth{
	background-color: #F2F2F2;
}
.main .button #userDel{
	background-color: #F2D2AE;
}
.main .button #coupUse{
	background-color: #EC8871;
}
.main .button #coupModi{
	background-color: #EA5545;
}

.main .info{
	width: 100%;
	height: 250px;
	border-bottom: 1px solid #c3c3c3;
}
.main .info .alert{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #c3c3c3;
	color: #fff;
	text-align: center;
	margin-top: 16px;
	margin-bottom: 16px;
}
.main .info .form{
	width: 100%;
	height: 110px;
	float: left;
}
.main .info .formRow{
	margin-bottom: 10px;
}
.main .info .formRow label{
	width: 85px;
	display: inline-block;
	text-align: center;
}
.main .info .formRow input{
	margin-right: 15px;
}
.main .info .formRow .plus, .main .info .formRow .minus{
	width: 20px;
	margin-right: 5px;
	margin-left: 5px;
	display: inline-block;
	text-align: center;
	background-color: #c3c3c3;
	cursor: pointer;
}
.main .info .userInfo{
	width: 100%;
	height: 90px;
	display: inline-block;
	margin-bottom: 5px;
}

.main .table{
	width: 100%;
	height: 50%;
	overflow: auto;
}
table{
	width: 100%;
	line-height: 30px;
}
table tr{
	text-align: center;
}